.form_area, .table_area
{
    width: 800px;
    margin: auto;
    border: 1px solid black;
    padding: 50px;
    padding-bottom: 20px!important;
}
.w-10
{
  width: 100px!important;
}
.table_area
{
  width: 1000px;
  margin: auto;
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  border: none;
  padding: 0!important;
}
.del
{
  color: red!important;
  font-weight: bold;
  font-size: 20px!important;
  cursor: pointer;
}